/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #3b3b3b;
  font-family: 'Quicksand', sans-serif;
}


/* ---- typography ---- */


/* ---- layout ---- */
.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}


@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
    text-align: center;
  }
}

/* ---- header ---- */


/* ---- footer ---- */

.bottom {
  padding: 20px;
}
/* ---- components ---- */

section {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

.card {
  background-color: white;
  color: #3b3b3b;
  padding: 2px 5px;

}

#logo {
  margin: 15% auto;
}

#home, #infography {
  background-color: #A9C191;
  padding-bottom: 0;
}

#hood {
  background-color: #FFE30A;
}

#story {
 background-color: #B1E6FD;
}

#footer {
  height: 300px;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  margin: 10px;
}
/* ---- css shame ---- */

